{
  "hooks": {
    "post-commit": "npm run test",
    "post-merge": "npm install",
    "post-rewrite": "npm install",
    "pre-commit": "npm run start-pre-commit",
    "pre-push": "echo Yeah!!"
  }
}
