/*******************************************/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

.fixed 				{ position:fixed !important; 	}
.relative 			{ position:relative !important;	}
.nopadding 			{ padding:0 !important; 		}
.nopadding-left 	{ padding-left:0 !important; 	}
.nopadding-right 	{ padding-right:0 !important; 	}
.nopadding-top 		{ padding-top:0 !important; 	}
.nopadding-bottom	{ padding-bottom:0 !important; 	}
.nomargin 			{ margin:0 !important; 			}
.nomargin-left 		{ margin-left:0 !important; 	}
.nomargin-right 	{ margin-right:0 !important; 	}
.nomargin-top		{ margin-top:0 !important; 	}
.nomargin-bottom	{ margin-bottom:0 !important; 	}
.noborder 			{ border:0 !important; 			}
.noradius			{ -webkit-border-radius:0 !important; -moz-border-radius:0 !important; border-radius:0 !important; }
.absolute 			{ position:absolute !important; }
.lowercase 			{ text-transform:lowercase; 	}
.uppercase 			{ text-transform:uppercase; 	}
.no-text-transform	{ text-transform:none !important; }
.italic 			{ font-style:italic; 			}
.pointer 			{ cursor:pointer; 				}
.block 				{ display:block !important; 	}
.bold 				{ font-weight:bold !important; 	}
.fullwidth 			{ width:100% !important; 		}
.halfwidth 			{ width:50% !important; 		}
.container			{ position:relative; 			}
.justify 			{ text-align:justify; 			}
.btn i.fa			{ padding-right:10px; 			}
.btn-margin-top		{ margin-top:30px;			 	}
.text-underline		{ text-decoration:underline;  	}
.nowrap				{ white-space: nowrap !important;	}
.wrap				{ white-space: normal !important;	}
.transparent		{ background:transparent !important;}
.spacer-06 			{height:6px;}
.spacer-12 			{height:12px;}
.spacer-18 			{height:18px;}
.spacer-24 			{height:24px;}
.spacer-48 			{height:48px;}
.pad-06				{padding:6px}
.pad-12				{padding:12px}
.pad-24				{padding:24px}
.pad-48				{padding:48px}
.hideAnim 			{visibility: hidden;}
.showAnim 			{visibility: visible;}
.shadow 			{-webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .15);-moz-box-shadow: 0 8px 8px rgba(0, 0, 0, .15);box-shadow: 0 8px 8px rgba(0, 0, 0, .15);}
.innershadow 		{-webkit-box-shadow: inset 0px 8px 8px rgba(0, 0, 0, .15);-moz-box-shadow: inset 0px 8px 8px rgba(0, 0, 0, .15);box-shadow: inset 0px 8px 8px rgba(0,0,0,0.15)}
.glow				{box-shadow: 0 4px 20px 0 rgba(153, 153, 153, 0.7), 0 6px 20px 0 rgba(153, 153, 153, 0.005);}
.collapsing 		{-webkit-transition: none;transition: none;}
.collapse 			{-webkit-transition: none;transition: none;}
.w300 				{ font-weight:300 !important;}
.w400 				{ font-weight:400 !important;}
.w700 				{ font-weight:700 !important; }
.w900 				{ font-weight:900 !important;}
.cond 				{font-family: 'Roboto Condensed',sans-serif, Arial, Helvetica;}
.small 				{font-size: 1rem;}	

.bdr 				{border:#ff0000 1px solid}

html, body { height: 100%;}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif, Arial, Helvetica;
  font-weight: 300;
  color: #333;
  /*font-size: 1.5rem;*/
}

a, a:focus, a:hover {
    color: #C9003C;
}

p {
	font-family: 'Roboto Condensed',sans-serif, Arial, Helvetica;
    font-size: 1.4rem;
    color: #333;
    font-weight: 400;
}

.table> thead > tr > th {
    border-bottom: 2px solid #C9003C;
}

th {
    font-weight: 400;
	text-transform:uppercase;
	font-family: 'Roboto Condensed',sans-serif, Arial, Helvetica;
	color:#90a4ae;
	font-size: 1.5rem;
}

td {
    font-family: 'Roboto Condensed',sans-serif, Arial, Helvetica;
	font-size: 1.4rem;
	font-weight:400;
	color:#333;
	vertical-align:middle !important;
}

body .container .jumbotron p, body .container .well p, body .container-fluid .jumbotron p, body .container-fluid .well p {
    font-weight: initial;
}

.checkbox label, .radio label, label, .form-group label {
    font-family: 'Roboto Condensed',sans-serif, Arial, Helvetica;
	font-size: 1.4rem;
	color:#333;
	font-weight:400;
}

.form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label {
    font-size: 1.4rem;
}

.form-control, .form-group .form-control {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FCB415),to(#FCB415)),-webkit-gradient(linear,left top,left bottom,from(#D2D2D2),to(#D2D2D2));
    background-image: -webkit-linear-gradient(#FCB415,#FCB415),-webkit-linear-gradient(#D2D2D2,#D2D2D2);
    background-image: -o-linear-gradient(#FCB415,#FCB415),-o-linear-gradient(#D2D2D2,#D2D2D2);
    background-image: linear-gradient(#FCB415,#FCB415),linear-gradient(#FCB415,#FCB415);
	}

.radio .circle, label.radio-inline .circle {
    border: 2px solid #FCB415;
}

.radio input[type=radio]:checked~.check, label.radio-inline input[type=radio]:checked~.check { background-color: #FCB415;}
.radio .check, label.radio-inline .check {background-color: #FCB415;}
.radio input[type=radio]:checked~.circle, label.radio-inline input[type=radio]:checked~.circle {border-color: #FCB415;}

.checkbox .checkbox-material .check, label.checkbox-inline .checkbox-material .check {border: 2px solid #FCB415;}

.checkbox input[type=checkbox]:checked+.checkbox-material .check, label.checkbox-inline input[type=checkbox]:checked+.checkbox-material .check {color: #FCB415;border-color: #FCB415;}
.checkbox input[type=checkbox]:checked+.checkbox-material .check:before, label.checkbox-inline input[type=checkbox]:checked+.checkbox-material .check:before {color: #FCB415;}

.panel-footer {
    background-color: #fff;
}

.bkg-000 {
    background: -webkit-linear-gradient(-90deg,#EB403C,#C9003C,#98002E);
    background: -o-linear-gradient(-90deg,#EB403C,#C9003C,#98002E);
    background: -moz-linear-gradient(-90deg,#EB403C,#C9003C,#98002E);
    background: linear-gradient(-90deg,#EB403C,#C9003C,#98002E);
}

.bkg-001 {background-color:#FFFFFF;}
.bkg-002 {background-color:#E7F3F7;}
.bkg-003 {background-color:#C9003C;}
.bkg-004 {background-color:#98002E;}
.bkg-005 {background-color:#7B2882;}
.bkg-006 {background-color:#531B58;}
.bkg-007 {background-color:#FFD359;}
.bkg-008 {background-color:#FCB415;}
.bkg-009 {background-color:#6997B0;}
.bkg-010 {background-color:#354C58;}
.bkg-011 {background-color:#000000;}
.bkg-012 {background-color:#364C59;}
.bkg-pag {background-color:#F2F6F7;}

/*.col-001 {color: #fff}
.col-002 {color: #7B2882}
.col-003 {color: #F3AF02}*/

.col-001 {color:#FFFFFF;}
.col-002 {color:#E7F3F7;}
.col-003 {color:#C9003C;}
.col-004 {color:#98002E;}
.col-005 {color:#7B2882;}
.col-006 {color:#531B58;}
.col-007 {color:#FFD359;}
.col-008 {color:#FCB415;}
.col-009 {color:#6997B0;}
.col-010 {color:#354C58;}
.col-011 {color:#000000;}
.col-012 {color:#788F9D;}
 
.btn-group-raised .btn.btn-primary, .btn-group-raised .input-group-btn .btn.btn-primary, .btn.btn-fab.btn-primary, .btn.btn-raised.btn-primary, .input-group-btn .btn.btn-fab.btn-primary, .input-group-btn .btn.btn-raised.btn-primary {
    background-color: #7B2882;
    color: #F3AF02;
}

.btn-danger {
	color:#fff;
	background-color:#EB403C;
	background: -webkit-linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
  	background: -o-linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
  	background: -moz-linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
  	background: linear-gradient(-90deg, #EB403C, #C9003C, #98002E);
	border:none;
	border-bottom:#FFD359 3px solid
	}

.btn-danger:hover {
	background: -webkit-linear-gradient(-90deg, #FCB415, #FCB415, #FCB415);
  	background: -o-linear-gradient(-90deg, #FCB415, #FCB415, #FCB415);
  	background: -moz-linear-gradient(-90deg, #FCB415, #FCB415, #FCB415);
  	background: linear-gradient(-90deg, #FCB415, #FCB415, #FCB415);
	background-color:#FCB415;
	border-bottom:#FFD359 3px solid;
	color:#000;
	}

.btn:not(.btn-raised).btn-warning, .input-group-btn .btn:not(.btn-raised).btn-warning {
    color: #C9003C;
}
.navbar, .navbar.navbar-default {background-color: transparent;color: rgba(255,255,255,1);}

.nav-pills>li>a {
	color: #78909C;
	text-transform:uppercase;
	 -webkit-border-radius:0 !important; -moz-border-radius:0 !important; border-radius:0 !important; 
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #FCB415;
    background-color: #fff;
	border-bottom:#CA003C 2px solid
}

.s0 {font-size: 2.6rem;}
.s1 {font-size: 2.2rem;}
.s2 {font-size: 2.0rem;}
.s3 {font-size: 1.8rem;}
.s4 {font-size: 1.6rem;}
.s5 {font-size: 1.2rem;}

.btn-line {border-bottom:#FCB414 3px solid;}

.inshadow {
    -webkit-box-shadow: inset 0 8px 8px rgba(0,0,0,.15);
    -moz-box-shadow: inset 0 8px 8px rgba(0,0,0,.15);
    box-shadow: inset 0 8px 8px rgba(0,0,0,.15);
}

.material-icons {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}

i.left {
    float: left;
    margin-right: 15px;
}

.valign-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer{margin-top:48px}