/** @Prettier */
@import '../../../shared/styles/variables.less';

.h3 {
  color: @color-main;
  font-size: 28px;
  line-height: 0.8;
}

.small {
  color: @color-dark-gray;
  font-size: 16px;
}

.p {
  color: @color-dark-gray;
  font-size: 14px;
}
