@import '../../../shared/styles/variables.less';

.noPadding {
  padding: 0%;
}

.registration_title_screen {
  font-family: 'Roboto Condensed Light';
  color: @color-main!important;
}

.containPayMethod {
  border-top: 1px solid @color-smooth-gray;
  margin-left: 0px;
  margin-right: 0px;
}

.titleCard {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: 'Roboto Condensed Light';
  font-size: 36px;
  color: @color-dark-gray;
}

.logo_visa {
  padding-right: 40px;
}

.registro_tarjetas {
  padding: 25px 0 25px;
}

.p_advice {
  color: @color-main;
  font-size: 24px;
  text-align: center;
  font-family: 'Roboto Condensed Light';
}

.p_advice_small {
  color: @color-dark-gray;
  font-size: 14px;
  margin-top: 10px;
  font-family: 'Roboto Regular';
  display: block;
  line-height: 1;
}

.row_transactions {
  margin-top: 24px;
  font-family: 'Roboto Condensed Light';
}

.p_transactions {
  font-size: 10px;
  color: @color-light-gray;
  text-align: center;
  line-height: 3;
  font-family: 'Roboto Bold';
}

.image_encrypt {
  margin-top: 10px;
}

.p_encrypt {
  font-size: 10px;
  color: @color-light-gray;
  margin-top: 8px;
  text-align: left;
  font-family: 'Roboto Bold';
}

.registration_title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: 'Roboto Condensed';
  font-size: 20px;
  color: @color-main;
}

.registration_title_small {
  font-family: 'Roboto Condensed';
  font-size: 12px;
  color: @color-light-gray;
  text-transform: uppercase;
}

.payment_methods {
  background-color: @color-background-super-light-grey;
}

.instructions_methods {
  margin: 1.5rem 0.25rem 0.25rem;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.add_button {
  margin-top: 1.9rem;
}

.p_my_methods {
  font-size: 18px;
  color: @color-main;
  line-height: 1;
}

.small_my_methods {
  font-size: 12px;
  color: @color-light-gray;
}
